.row-header-del, .row-header-email, .row-header-password, .row-header-operation {
    font-weight: bold
}

.row-data-del, .row-header-del {
    width: 10%; text-align: center;
}

.row-data-email, .row-header-email, .row-data-password, .row-header-password, .row-data-operation, .row-header-operation {
    width: 30%; text-align: center;
}