html * {
    scroll-behavior: smooth;
}

.sidebar {
    height: 100vh;
    width: 15%;
    padding: 0.5rem;
    background-color: rgb(24, 23, 23);
    box-shadow: 3px 5px 10px #888888;
    transition: all 0.5s;
}

#collapse:hover {
    cursor: pointer;
}


#logo-sidebar {
    padding: 1rem;
    align-content: center;
    text-align: center;
}

#input-div input {
    margin: 0.5rem; width: 70%; padding: 1rem;
}

#input-div textarea {
    margin: 0.5rem; width: 100%; padding: 1rem;
}

.nav {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.icon-description {
    display: none;
}

.content-div {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media only screen and (min-width: 1100px) {
    .icon-description {
        display: unset;
    }

    #input-div input {
        width: 30%;
    }
    
    #input-div textarea {
        width: 70%;
    }
}


.nav a {
    color: white;
}

.nav a:hover {
    text-decoration: none;
}

.nav p {
    padding: 0.5rem;
    width: 100%;
}

.content {
    position: absolute;
    display: flex;
    top: 0%;
    padding: 2rem;
    left: 15%;
    width: 85%;
    height: 100vh;
    flex-direction: column;
    overflow: auto;
    transition: all 0.5s;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.table > tbody > tr > th {
    vertical-align: middle;
}

.image-expand-content {
    visibility: inherit;
    position: relative; 
    width: 100%;
}

.bg {
    transition: .3s all;
    height: 100%;
    width: 100%;
    background-size: cover; 
    background-position: center;
}

.image-expand-content:hover .bg {
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.image-expand-content:hover .fullscreen-indicator {
    opacity: 1;
}

.fullscreen-indicator {
    transition: .3s all;
    position: absolute; 
    opacity: 0;
    top: 50%; 
    left: 50%; 
    color: white; 
    font-size: 50px !important;
    transform: translate(-50%, -50%);
}
.room-card {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

#table-rooms > tr:hover {
    cursor: pointer;
}

.input-section {
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.description {
    margin-left: 1rem;
    width: 100%;
}

.delete {
    cursor: pointer;
}