.photo-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.photo-entry {
    position: relative;
    margin: 0.5rem; width: 50px; height: 50px;
}

.photo-entry > .icon-background {
    visibility: hidden;
}

.photo-entry:hover > .icon-background {
    visibility: visible;
}

.photo-entry > .delete {
    color: white;
    visibility: hidden;
}

.photo-entry:hover > .delete {
    visibility: visible;
}