.row-header-num, .row-header-description, .row-header-capacity, .row-header-photos {
    font-weight: bold
}

.row-data-num, .row-header-num, .row-header-capacity, .row-data-capacity, .row-header-photos, .row-data-photos {
    width: 15%; text-align: center;
}

.row-data-description, .row-header-description {
    width: 60%; text-align: center;
}